@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 12px;
    padding: 30px;
    width: 400px;
    height: 400px;
    margin: 50px auto;
    box-shadow: 0 4px;
    font-family: "Orbitron", sans-serif;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: -2rem;
}

.timedisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 25px;
    background-color: #ecf0f1;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s;
    width: 30%;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.button + .button {
    margin-left: 5px;
}

.button:hover {
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.button:active {
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.startButton {
    background-color: #4CAF50; 
}

.startButton:hover {
    background-color: #45a049;
}

.stopButton {
    background-color: #e74c3c; 
}

.stopButton:hover {
    background-color: #c0392b;
}

.resetButton {
    background-color: #3498db; 
}

.resetButton:hover {
    background-color: #2980b9;
}